In [1]:
import pandas as pd
import seaborn as sns
import numpy as py
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data.csv')
df.head()

         date      time  latitude  longitude  depth  magnitude
0  2008-11-01  00:31:25     -0.60   98.89553   20.0       2.99
1  2008-11-01  01:34:29     -6.61  129.38722   30.1       5.51
2  2008-11-01  01:38:14     -3.65  127.99068    5.0       3.54
3  2008-11-01  02:20:05     -4.20  128.09700    5.0       2.42
4  2008-11-01  02:32:18     -4.09  128.20047   10.0       2.41

In [4]:
df.shape

(87372, 6)

### Data Exploration

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87372 entries, 0 to 87371
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       87372 non-null  object
 1   time       87372 non-null  object
 2   latitude   87372 non-null  float64
 3   longitude  87372 non-null  float64
 4   depth      87372 non-null  float64
 5   magnitude  87372 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.0+ MB

In [6]:
#Statistical Exploration
df.describe()

           latitude     longitude         depth     magnitude
count  87372.000000  87372.000000  87372.000000  87372.000000
mean      -3.415577    119.213764     48.498258      3.555979
std        4.342191     10.649071     76.486725      0.794365
min      -11.000000     95.002390      1.000000      1.000000
25%       -7.930000    114.007420     10.000000      2.980000
50%       -2.900000    121.187475     15.400000      3.500000
75%        0.110000    126.845377     52.200000      4.120000
max        6.000000    140.981520    750.000000      7.920000

In [7]:
#Checking Null Values
df.isnull().sum()

date         0
time         0
latitude     0
longitude    0
depth        0
magnitude    0
dtype: int64

#### Create Earthquake Category

In [8]:
tempList = []
for i in df['magnitude'].tolist():
    tempVar = ''
    if (i<3):
        tempVar = 'Micro'
    elif (i<4):
        tempVar = 'Minor'
    elif (i<5):
        tempVar = 'Light'
    elif (i<6):
        tempVar = 'Moderate'
    elif (i<7):
        tempVar = 'Strong'
    elif (i<8):
        tempVar = 'Major'
    else:
        tempVar = 'Great'
    tempList.append(tempVar)
df['earthquakeCategory'] = tempList
df.head()

,date,time,latitude,longitude,depth,magnitude,earthquakeCategory
0,2008-11-01,00:31:25,-0.60,98.89553,20.0,2.99,Micro
1,2008-11-01,01:34:29,-6.61,129.38722,30.1,5.51,Moderate
2,2008-11-01,01:38:14,-3.65,127.99068,5.0,3.54,Minor
3,2008-11-01,02:20:05,-4.20,128.09700,5.0,2.42,Micro
4,2008-11-01,02:32:18,-4.09,128.20047,10.0,2.41,Micro

#### Create Earthquake Depth

In [9]:
tempList = []
for i in df['depth'].tolist():
    tempVar = ''
    if (i<71):
        tempVar = 'Shallow'
    elif (i<301):
        tempVar = 'Intermediate'
    else:
        tempVar = 'Deep'
    tempList.append(tempVar)
df['depthCategory'] = tempList
df.head()

,date,time,latitude,longitude,depth,magnitude,earthquakeCategory,depthCategory
0,2008-11-01,00:31:25,-0.60,98.89553,20.0,2.99,Micro,Shallow
1,2008-11-01,01:34:29,-6.61,129.38722,30.1,5.51,Moderate,Shallow
2,2008-11-01,01:38:14,-3.65,127.99068,5.0,3.54,Minor,Shallow
3,2008-11-01,02:20:05,-4.20,128.09700,5.0,2.42,Micro,Shallow
4,2008-11-01,02:32:18,-4.09,128.20047,10.0,2.41,Micro,Shallow